# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
n1 = 0
n2 = 0

values_equal = n1 == n2
objects_equal = n1 is n2

print("Змінні рівні за значенням:", values_equal)
print("Змінні посилаються на один і той самий об'єкт:", objects_equal)

Змінні рівні за значенням: True
Змінні посилаються на один і той самий об'єкт: True

Цілі числа в діапазоні -5, 256 кешуються, і коли робиться новий запит для них, повертаються вже існуючі об’єкти.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [5]:
b = True
is_bool = isinstance(b, bool)
is_int = isinstance(b, int)
is_str = isinstance(b, str)

print("Змінна є булевого типу:", is_bool)
print("Змінна є цілочисельного типу:", is_int)
print("Змінна є строкою:", is_str)

Змінна є булевого типу: True
Змінна є цілочисельного типу: True
Змінна є строкою: False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
i = 10
d = 5.5

res1 = i + d
print("Додавання:", res1)

res2 = i - d
print("Віднімання:", res2)

res3 = i * d
print("Множення:", res3)

res4 = i / d
print("Ділення:", res4)

res5 = i // d
print("Ділення без залишку:", res5)

res6 = i % d
print("Ділення по модулю:", res6)

res7 = i ** d
print("Приведення до ступеню:", res7)

Додавання: 15.5
Віднімання: 4.5
Множення: 55.0
Ділення: 1.8181818181818181
Ділення без залишку: 1.0
Ділення по модулю: 4.5
Приведення до ступеню: 316227.7660168379

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:
di = int(d)
print("Явне перетворення на ціле число:", di)

b = True

ib = int(b)
print("Приведення булевого типу до цілого числа:", ib)

Явне перетворення на ціле число: 5
Приведення булевого типу до цілого числа: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [15]:
str1 = "str1"
str2 = str("str2")

print("str1 = ", str1)
print("str2 = ", str2)

str1 =  str1
str2 =  str2

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [17]:
str1 = "'"

str2 = r"'"

print(str1)
print(str2)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [20]:
surname = "Pozharov"
str1 = f"My surname is {surname}."
print(str1)

My surname is Pozharov.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [21]:
str1 = "My dog is crazy."
list1 = str1.lower().split()
print(list1)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [23]:
list1 = [1, 2, 3, 4, 5]
list2 = list("abcdef")
print("list1 = ", list1)
print("list2 = ", list2)
print(f"Length list1 = {len(list1)}")

list1 =  [1, 2, 3, 4, 5]
list2 =  ['a', 'b', 'c', 'd', 'e', 'f']
Length list1 = 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [26]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("list1 = ", list1)

list1 =  [1, 2, 3, 4, 5, 6]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [27]:
list1 = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(list1[len(list1)-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [31]:
list1 = [1, 'two', 3.0, [4, 5], 'six', 7, (8, 9), {'10': '11'}, True, "twelve"]
list2 = list1[2:-2]
print("list1 = ", list1)
print("list2 = ", list2)

list1 =  [1, 'two', 3.0, [4, 5], 'six', 7, (8, 9), {'10': '11'}, True, 'twelve']
list2 =  [3.0, [4, 5], 'six', 7, (8, 9), {'10': '11'}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [32]:
k = (1,)
print(k)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Елементи кортежу не можна змінювати, на відміну від списку. Список зазвичай використовується, коли потрібно створити змінювану послідовність елементів. Коли дані мають залишатися незмінними використовується кортеж.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [38]:
k1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
k2 = k1[-2:0:-2]
print("k1 = ", k1)
print("k2 = ", k2)

k1 =  (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
k2 =  (0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [43]:
set1 = set()
set1.add(1)
set1.add("str")
set1.add(5.5)
print("set1 = ", set1)

set1 =  {1, 'str', 5.5}

Множини є змінним типом даних. Метод add() використовується для додавання нових елементів.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [45]:
my_list = [1, 1, 2, 67, 67, 8, 9]
list1 = set(my_list)
print(list1)

{1, 2, 67, 8, 9}

При створенні множини зі списку за допомогою set(my_list), дублікати автоматично видаляються.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [46]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set3 = set1.union(set2)
print("union = :", set3)

set4 = set1.difference(set2)
print("difference = ", set4)

set5 = set1.intersection(set2)
print("intersection = ", set5)

set6 = set1.symmetric_difference(set2)
print("symmetric_difference = ", set6)

union = : {1, 2, 3, 4, 5, 6, 7, 8}
difference =  {1, 2, 3}
intersection =  {4, 5}
symmetric_difference =  {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [53]:
dict1 = {}

dict1["int"] = 1
dict1["float"] = 5.5
dict1["string"] = "str"
dict1["bool"] = True

print(dict1)

{'int': 1, 'float': 5.5, 'string': 'str', 'bool': True}

Ключі словника повинні бути незмінюваними об'єктами. Список є змінюваним типом даних, тому не може бути використаний як ключ для словника.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [55]:
dict1 = {
    'key1': 'value1',
    'key2': {
        'key2_1': 'value2_1',
        'key2_2': {
            'key2_2_1': 'value2_2_1',
            'key2_2_2': 'value2_2_2'
        }
    },
    'key3': 'value3'
}

print(dict1['key2']['key2_2']['key2_2_2'])

value2_2_2

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.